.nav-list a {
	cursor: pointer;
}

.edit_row {
	display: none;
}

.oj_problem_specification {
	border-top: solid 1px #eee;
	padding-top: 1em;
	margin-bottom: 1em;
}

.oj_contest_specification {
	border-top:none;
}

.oj_problem_specification > div > i{
	font-size:20px;
	margin-right:0.3em;
}
.oj_problem_specification > div > span{
	font-size:16px;
}

.oj_problem_view {
	border-top: solid 1px #eee;
}

.oj_problem_view h2 {
	margin-top:2em;
	margin-bottom: 0.2em;
}

.oj_problem_view p {
	font-size:1.6rem;
	text-align: justify;
	font-family:"Open Sans";
}

.oj_problem_image {
	width:400px;
	margin:0 auto;
	box-shadow: 1px 1px 5px #000;
}

.oj_problem_image > img {
	display: block;
	width:100%;
	max-width:100%;
}

.oj_problem_tag {
	margin-left: 0;
}

.oj_problem_tag > li {
    margin: 0.1em;
    float:right;
} 

.oj_tag_column {
	max-width: 200px;
}

@media screen and (max-width: 767px) {
    .oj_problem_tag > li {
        float: left !important;
    }
}

.oj_description_column {
	max-width: 300px;
}

.oj_option_col {
	max-width: 120px;
}

.oj_tl_ml {
	min-width: 50px;
}

.tag_pill {
	border:none;
	margin-bottom: 0.3em;
}

.tag_pill > a {
	color:#fff;
	text-shadow:1px 1px 1px #000;
}

.dataTables_wrapper {
	margin-top:0.5em;
}


.modal-dialog {
	width:90%;
}

.modal-dialog .dataTables_wrapper {
	max-height: 500px;
	overflow: scroll;
}

.rank_box {
	padding-left: 0;
	padding-right: 0;
	min-width: 50px;
	width:100%;
	margin: 0 auto;
	font-family: 'sans';
}

.problem_no {
	text-align: center;
	max-width: 30px;
}

.rank_user {
	padding: 24px 8px !important;
}

.clar_user {
	border: solid 2px #aaa;
	border-radius: 50px;
	padding:7px 10px 9px 10px;
	font-size: 20px;
	background-color:#eee;
	color:#333;
}

.clar_user.new {
	background-color:#f89406;
	color:#fff;
}

.reply_div {
	padding-left: 50px;
}

#clar i.fa-user-secret {
	background-color:#333;
	color:#eee;
}

.my_modal {
	display: none;
	z-index: 150;
	position: fixed;
	width:100%;
	height:100%;
	background-color:rgba(33, 33, 33, 0.8);
}

.my_modal_body {
	background-color:#fff;
	width:100%;
	max-width: 500px;
	height:auto;
	min-height:300px;
	margin:0 auto;
	margin-top:100px;
	padding:20px;
}

.my_modal_body textarea {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
}

.my_modal_close {
	position: fixed;
	right:50px;
	top:100px;
}

.clar_alert {
	display: none;
	position: fixed;
	z-index: 200;
	right:50px;
	top:80px;
	width:400px;
}

.delete_clar {
	display: none;
	position: absolute;
	right:5px;
	top:30px;
}

.itemdiv:hover .delete_clar {
	display: block;
}